<div id="container">
	<div id="left">
		<h1>{CM_LOCAL_APP_NAME}</h1>
		{topbar}
	</div>
	<div id="right">
		<div id="menu">
			{navbar}
		</div>
		{content}
		
	</div>
	<!--<div id="header">
		<h1>{CM_LOCAL_APP_NAME}</h1>
		<div id="language-chooser">
			{languages}
			<a href="#language-chooser" class="language-chooser-button"></a>
		</div>
	</div>
	<!-- menu --*>
	<div id="menu">
		{topbar}
	</div>
	<div class="clearfix"></div>
	<div id="menu-list" class="menu-list">
		{navbar}
		{rightcol}
	</div>
	<div id="helper-content" class="helper">
		<h2>{_helper_title}</h2>
		<p>{helper}</p>
	</div>
	<!-- fine menu --*>
	<div id="content">	
		{[notifier|box]}
		{content}
	</div>
	<div class="clearfix"></div>
	<div id="quick-panel">
		{quickpanel}
	</div>
	<div id="notifier">
		{notify}
	</div>	-->
</div>