<div class="bottonzi">
<div class="indirizzomail"><span>emanuela@emanuelabrussa.it</span></div>
<div class="buts themail"><a href="mailto:emanuela@emanuelabrussa.it"></a></div>
<div class="buts skype"><a href="skype:emanuelabrussa"></a></div>
<div class="buts twit"><a href="http://www.twitter.com/guidatestesso"></a></div>
<div class="buts in"><a href="http://it.linkedin.com/pub/emanuela-maria-brussa/19/495/893"></a></div>
<div class="buts face"><a href="http://www.facebook.com/event.php?eid=211820155527724"></a></div>
</div>