<div class="prodotto"  style="background:url(/uploads/cloudzoom/fascetta.jpg) no-repeat bottom right;">
	<div class="immagine">
		<a href='/uploads/cloudzoom/tshirt2.jpg' class = 'cloud-zoom' id='zoom1' rel="adjustX: 25, adjustY: 0">
            <img src="/uploads/cloudzoom/tshirt2-mini.jpg" />
        </a>

	</div>
	<div class="descrizione">
		<h2>Nome Prodotto</h2>
		<h3>descrizione ulteriore</h3>
		<h4>20,00 €</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, nisi condimentum scelerisque ultricies, leo velit fringilla risus, vitae malesuada odio massa eget velit. Vivamus elit quam, laoreet quis tincidunt iaculis, accumsan sed mauris.</p>		
	</div>
</div>

<div class="prodotto">
	<div class="immagine full">
		<a href='/uploads/cloudzoom/tshirt3.jpg' class = 'cloud-zoom' id='zoom1' rel="tint: '#b9ff32',tintOpacity:0.5 ,smoothMove:5,zoomWidth:560,zoomHeight:305, adjustY:-25, adjustX:-225">
            <img src="/uploads/cloudzoom/tshirt3-mini.jpg"/>
        </a>

	</div>
	<div class="descrizione">
		<h2>Nome Prodotto</h2>
		<h3>descrizione ulteriore</h3>
		<h4>15,50 €</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, nisi condimentum scelerisque ultricies, leo velit fringilla risus, vitae malesuada odio massa eget velit. Vivamus elit quam, laoreet quis tincidunt iaculis, accumsan sed mauris.</p>		
	</div>
</div>

<div class="prodotto"   style="background:url(/uploads/cloudzoom/fascetta.jpg) no-repeat bottom right;">
	<div class="immagine beatles">
		<a href='/uploads/cloudzoom/tshirt4.jpg' class = 'cloud-zoom' id='zoom1' rel="position: 'inside' , showTitle: false, adjustX:1, adjustY:1">
            <img src="/uploads/cloudzoom/tshirt4-mini.jpg" />
        </a>

	</div>
	<div class="descrizione">
		<h2>Nome Prodotto</h2>
		<h3>descrizione ulteriore</h3>
		<h4>22,50 €</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, nisi condimentum scelerisque ultricies, leo velit fringilla risus, vitae malesuada odio massa eget velit. Vivamus elit quam, laoreet quis tincidunt iaculis, accumsan sed mauris.</p>		
	</div>
</div>

<div class="prodotto">
	<div class="immagine">
		<a href='/uploads/cloudzoom/tshirt5.jpg' class = 'cloud-zoom' id='zoom1' rel="softFocus: true, smoothMove:2, zoomWidth:400, zoomHeight:320, adjustX:25, adjustY:-50">
            <img src="/uploads/cloudzoom/tshirt5-mini.jpg" />
        </a>

	</div>
	<div class="descrizione">
		<h2>Nome Prodotto</h2>
		<h3>descrizione ulteriore</h3>
		<h4>23,00 €</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur, nisi condimentum scelerisque ultricies, leo velit fringilla risus, vitae malesuada odio massa eget velit. Vivamus elit quam, laoreet quis tincidunt iaculis, accumsan sed mauris.</p>		
	</div>
</div>