         <script language="JavaScript" type="text/javascript" src="/themes/library/plugins/jquery.contentflow/contentflow.js"></script>
 <div class="ContentFlow">
            <div class="loadIndicator"><div class="indicator"></div></div>
            <div class="flow">
                <img class="item" src="/themes/site/images/contentflow/quadro1.jpg" title="Campo di grano con cipressi"/>
                <img class="item" src="/themes/site/images/contentflow/quadro2.jpg" title="Vento"/>
               	<img class="item" src="/themes/site/images/contentflow/quadro3.jpg" title="Flower beds Holland"/>
             	<img class="item" src="/themes/site/images/contentflow/quadro4.jpg" title="Starry night over Rhone"/>
               	<img class="item" src="/themes/site/images/contentflow/quadro5.jpg" title="Stoppe di Cardeville"/>
            </div>
            <div class="globalCaption"></div>
            <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
        </div>