<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
<div class="qtip-page">
	<div class="movie-cover"></div>
	<div class="movie-syn">
		<h1 class="title">Qtip</h1>

		<p id="syn"><br />Qtip è un plugin scritto con la libreria javascript jQuery e permette l'integrazione di "consigli" all' interno di testi, a differenza dell' aToolTip permette l'integrazione di veri e propri contenuti HTML (<a class="leo" rel="/plugins/gestione-testi/qtip/leo">esempio</a>).  <br />
		Chiaramente trattandosi di contenuti HTML è possibile integrare preview video come ad esempio il trailer di un film oppure la preview di un tutorial relativo all'utilizzo di un prodotto o ancor meglio un video messaggio promozionale. 
		Per concludere, è possibile mostrare l'anteprima di un sito all'interno di una piccola thumbnail, un metodo alternativo per pubblicizzare un partner o semplicemente link di utilità.</p>
		<span><a class="trailer" href="http://www.youtube.com/watch?v=66TuSJo4dZM" alt="">Guarda il trailer</a> <a class="officialsite" href="http://wwws.warnerbros.it/inception/mainsite/" target="_blank">Visita il sito ufficiale</a></span>
	</div>
</div>

<script type="text/javascript" src="http://www.websnapr.com/js/websnapr.js"></script>
<script type="text/javascript" src="/themes/library/plugins/jquery.qtip/jquery.qtip.js"></script>



