<div class="preround">
	<h2>Roundabout</h2>
	<p>Roundabout è un plugin costruito in jQuery che converte liste html in un' area altamente personalizzabile che simula un tavolo girevole, può essere utilizzato come visualizzazione alternativa per presentare prodotti. </p>
</div>
<ul class="round">
	<li><img src="/themes/site/images/roundabout/monitor1.png"/></li>
	<li><img src="/themes/site/images/roundabout/monitor2.png"/></li>
	<li><img src="/themes/site/images/roundabout/monitor3.png"/></li>
	<li><img src="/themes/site/images/roundabout/monitor4.png"/></li>
	<li><img src="/themes/site/images/roundabout/monitor5.png"/></li>
</ul>