<link type="text/css" rel="stylesheet" media="screen" href="/themes/library/plugins/jquery.tipsy/tipsy.css"  />


<table class="tipsy-table">
	<tbody>
		<tr>
			<td><a class="no" title="Lorem ipsum">nord-ovest</a></td>
			<td><a class="n" title="dolor sit amet, consectetur">nord</a></td>
			<td><a class="ne" title="consectetur adipiscing elit">nord-est</a></td>
		</tr>
		<tr>
			<td><a class="o" title="Praesent ut lectus nibh">ovest</a></td>
			<td class="spiega"><b>Tipsy</b> è un plugin che permette la visualizzazione di piccoli <b>box descrittivi</b> al <i><b>passaggio del mouse</b></i> su determinati elementi.<br />
				Come è possibile vedere negli esempi ai lati, <b>Tipsy</b> è in grado di posizionarsi in modo diverso per ogni elemento a seconda delle impostazioni specificate nel javascript.</td>
			<td><a class="e" title="Phasellus egestas eros a lacus porttitor ornare">est</a></td>
		</tr>
		<tr>
			<td><a class="so" title="Proin aliquam libero in ligula">sud-ovest</a></td>
			<td><a class="s" title="adipiscing bibendum">sud</a></td>
			<td><a class="se" title="Duis dui diam, tristique ac tristique non, vulputate id leo">sud-est</a></td>
		</tr>
	</tbody>
</table>