.link-setting.author A {
    background-image: url(/uploads/collector/image/author.png);
}

.link-setting.shelf A {
    background-image: url(../images/shelf.png);
}

.link-setting.editor A {
    background-image: url(../images/publisher.png);
}

