.descrizione {
    width:90%;
}

h2,
.first-information IMG {
    margin-bottom: 15px;
}

.first-block > DIV,
.second-block > DIV {
    margin-bottom: 5px;
}

.link-setting {
    width: 17% !important;
}



.choose A {
    background-color: black;
}




.link-setting.actor A {
    background-image: url(../images/actor.png);
}

.link-setting.director A { 
    background-image: url(../images/director.png);
}

.link-setting.quality A {
    background-image: url(../images/quality.png);
}
    
.link-setting.support A {
    background-image: url(../images/support.png);
}

.link-setting.genre A {
    background-image: url(../images/genre.png);
}

TABLE.support TD{
    width: 25%;
    margin-top: 10px;
}
