{fixed_pre_body}
{admin}
<div class="{container_class}"<!--BeginSezContainerWidth--> style="width:{container_width};"<!--EndSezContainerWidth--><!--BeginSezContainerProperties-->{container_properties}<!--EndSezContainerProperties-->>
<!--BeginSezContainerWrapStart-->
<div class="{wrap_container_class}">
<!--EndSezContainerWrapStart-->
{fixed_pre_content}
<!--BeginSezLayer-->
<!--BeginSezLayerStart-->
<div class="{layer_class}"<!--BeginSezLayerWidth--> style="width:{layer_width};"<!--EndSezLayerWidth-->> 
<!--EndSezLayerStart-->
<!--BeginSezLayerWrapStart-->
<div class="{wrap_layer_class}">
<!--EndSezLayerWrapStart-->
<!--BeginSezSection-->
<!--BeginSezSectionStart-->
<div class="{section_class}"<!--BeginSezSectionWidth--> style="width:{section_width};"<!--EndSezSectionWidth-->> 
<!--EndSezSectionStart-->
<!--BeginSezSectionWrapStart-->
<div class="{wrap_section_class}">
<!--EndSezSectionWrapStart-->
    <!--BeginSezSectionLayout-->
    {layout}
    <!--EndSezSectionLayout-->
<!--BeginSezSectionWrapEnd-->
</div>
<!--EndSezSectionWrapEnd-->
<!--BeginSezSectionEnd-->
</div>
<!--EndSezSectionEnd-->
<!--EndSezSection-->
<!--BeginSezLayerWrapEnd-->
</div>
<!--EndSezLayerWrapEnd-->

<!--BeginSezLayerEnd-->
</div>
<!--EndSezLayerEnd-->
<!--EndSezLayer-->
{fixed_post_content}
<!--BeginSezContainerWrapEnd-->
</div>
<!--EndSezContainerWrapEnd-->
</div>
{fixed_post_body}