<a class="notify-handler" href="javascript:void(0);"><span>0</span></a>
<!--BeginSezNotifyList-->
<div class="all-notifies hidden">
<!--BeginSezNotify-->
    <div class="quick-notify {class_type}">
	    	<h3>{title}</h3>
    	<a class="notify-close {delete_icon}" rel="{real_title}" href="javascript:void(0);"></a>
    	<!--BeginSezNotifyItem-->
    	<p class="item message">
    		<span class="last_update">({count}) {last_update}</span>
    	    <a class="notifyurl-title" href="{notify_url}">
        	    {message}
        	</a>
        	<!--BeginSezUrl-->
                	<a class="resolve-link" href="{url}">{url_title}</a>
        	<!--EndSezUrl-->
    	</p>
    	<!--EndSezNotifyItem-->
	</div>
<!--EndSezNotify-->
	<a class="notify-close-all" href="javascript:void(0);">nascondi tutto</a>
</div>
<!--EndSezNotifyList-->
