fieldset {
	font-family:'Arial',sans-serif;
	width: 100%; 
	margin: 0; 
	padding:10px 0;
	float: none;
	border:1px solid #fff;
}
legend {
	border-bottom:1px solid #888;
	font-size:14pt;
	display:block;
	color:rgb(3,127,3);
	width:100%;
	line-height:18pt;
}
input, select, textarea {
	font-family:'Arial',sans-serif;
	border-style:none;
	width:100%;
	color:rgb(88,88,88);
	font-size:9pt;
	outline: none;
	text-transform:lowercase;
}
textarea {
	resize:none;
	overflow:auto;  
	height:100px;
}
label {
	text-transform:uppercase;
	font-size:10pt;
	color:rgb(101,101,101);
}
.time select {
	width:auto;
	display:inline;
}
.row.status,
img {
	display:none;
}
 