<div id="container">
	<div id="bar" class="headbar">
		<div class="rightbar">
			<div id="notifier">
				{notify}
			</div>

				{languages}
				<a href="#language-chooser" class="language-chooser-button"></a>

			{quickpanel}
		</div>
		{topbar}
		
		
	</div>
	<!-- menu -->

	<div id="menu-list" class="menu-list">
		{navbar}
		{rightcol}
	</div>
	
	<div id="helper-content" class="helper hidden">
		<h2>{_helper_title}</h2>
		<p>{helper}</p>
	</div>
	<!-- fine menu -->
			
	<div id="bo-content">	
		{[notifier|box]}
		{content}
	</div>

</div>
