/*
.noty-box {
    position: absolute;
    top: 18px;
    right: 20px;
}
.noty-box .dropdown-container .dropdown {
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.noty-box .dropdown-container .count {
    position: absolute;
    top: -6px;
    right: -1px;
    height: 15px;
    width: 15px;
    overflow: hidden;
    background: #21B7B7;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    display: none;
}
.noty-box .dropdown-container .fa {
    color: #9FB6C3;
    font-size: 22px;
}
.noty-box .dropdown-container .dropdown {
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.noty-box .dropdown-container .dropdown-menu {
    position: absolute;
    display: none;
    z-index: 1;
    right: 0px;
    top: 45px;
    min-height: 300px;
    min-width: 420px;
    width: 420px;
    box-shadow: 0 20px 90px 6px rgba(0,0,0,0.15);
}
.noty-box .dropdown-container .dropdown-menu .dropdown-header {
    background: #FFF;
    text-align: left;
    padding: 15px;
    position: relative;
    color: #747F8B;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
    box-shadow: 0px 2px 10px -2px #cedae0;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-header .triangle {
    position: absolute;
    top: -8px;
    right: 30px;
    height: 15px;
    width: 15px;
    border-radius: 6px 0px 0px 0px;
    transform: rotate(45deg);
    background: #FFF;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body {
    max-height: 340px;
    background: #e9f0f3;
    overflow-y: auto;
    overflow-x: hidden;
}


/*
.noty-box .dropdown-container .dropdown-menu .dropdown-header .count {
  position: static;
  display: inline-block;
  line-height: 24px;
  margin-left: 8px;
  font-size: 15px;
  vertical-align: middle;
    background-color: transparent;
    color: #00d3c2;
}


.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification.new {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  color: #747F8B;
  cursor: pointer;
  word-spacing: 0px;
      font-family: Raleway;
    font-size: 12px;
    line-height: 16px;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text .highlight {
  font-weight: bold;
}
.noty-box .dropdown-container .fa {
  color: #9FB6C3;
  font-size: 22px;
}
.noty-box .dropdown-container .count {
  position: absolute;
  top: -6px;
  right: -1px;
  height: 15px;
  width: 15px;
  overflow: hidden;
  background: #21B7B7;
  color: #FFF;
  text-align: center;
  border-radius: 100%;
  font-size: 9px;
  font-weight: bold;
  line-height: 15px;
}
*/







/**** CSS POPUP NOTIFICHE *****/
/*
.noty-box .dropdown-container .dropdown-menu .dropdown-header {
    background: #FFF;
    padding: 15px;
    position: relative;
    color: #747F8B;
    font-weight: bold;
    border-radius: 0;
    border: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
    box-shadow: 0px 2px 10px -2px #cedae0;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-header .heading {
    text-transform: uppercase;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-header .count {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    background-color: transparent;
    color: #00d3c2;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification {
    position: relative;
    background: #e9f0f3;
    padding: 15px;
    border: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image-wrapper {
    top: 15px;
    left:15px;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image-wrapper .notification-image{
    position: absolute;
    background: #ff3162;
    width:50px;
    height: 50px;
    border-radius: 50%;
}


.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text {
    color:#333;
    padding-left: 65px;
    font-family: Raleway;
    font-size: 13px;
    line-height: 16px;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text .text A{
    color:#009FE3;
    font-weight: 500;
}



.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text .highlight{
    font-weight: 700;
    margin-bottom: 1px;
}

.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text .time{
    text-align: right;
    margin-top: 2px;
    color:#626261;
}






/*
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification {
  background: #FFF;
  padding: 15px;
  border: 0px;
  border-style: solid;
  border-bottom-width: 1px;
  -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
  border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification.new {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: #e9f0f3;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-image {
  display: inline-block;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 100%;
}
.noty-box .dropdown-container .dropdown-menu .dropdown-body .notification .notification-text {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  color: #747F8B;
  cursor: pointer;
   word-spacing: 0px;
      font-family: Raleway;
    font-size: 12px;
    line-height: 16px;
}
.noty-box .notifications {
  margin-right: 10px;
}
.noty-box .messages {
  margin-left: 10px;
}
.noty-box .user {
  background: #9FB6C3;
  border-left: 0px;
  position: absolute;
  right: 0;
  top: -1px;
}
.noty-box .user-options-wrapper .user-image {
  background: url("http://www.apnatimepass.com/tom-cruise-ms.jpg");
  background-size: cover;
  background-position: center;
  vertical-align: bottom;
  height: 32px;
  width: 32px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
}
.noty-box .user-options-wrapper .user-options {
  vertical-align: bottom;
  border: 2px solid #FFF;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.noty-box .user-options-wrapper .user-options .fa {
  position: absolute;
  top: 9px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #FFF;
  font-size: 12px;
}

*/

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
}
@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
}
.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.noty-box ::-webkit-scrollbar {
    width: 3px;
}

.noty-box ::-webkit-scrollbar-track {
    webkit-box-shadow: inset 0 0 6px #E3EBEF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #E3EBEF;
}

.noty-box ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9FB6C3;
    -webkit-box-shadow: none;
}

.noty-box ::-webkit-scrollbar-thumb:window-inactive {
    background: #9FB6C3;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}