.bill .header {
	margin:5px 10px 20px;
	overflow:hidden;
}
.bill .logo {
	width:100%;
	margin:0 0 5px;
}
.bill .header .customer {
	float:right;
}
.bill .header .company {
	float:left;
}
.bill .content {
	clear:both;
	min-width:540px;
}
.bill_rif {
	float:left;
	font-size:14px;
	font-weight:bold;
}
.bill_date {
	float:right;
	font-size:14px;
	font-weight:bold;
}
.bill .detail {
	margin:10px 0 0;
	clear:both;
}
.bill TABLE TR TH {
	background-color:#ccc;
	color:#555;
	padding:0 0 5px;
	font-weight:bold;
	text-shadow:none;
}
.bill .total .right {
	width:110px;
}
.bill .content H2 {
	font-size:14px;
	margin:10px 0;
}
.bill .methods {
	margin:10px 0 0;
	overflow:hidden;
}
.bill .methods H3, .bill .methods P {
	padding:4px 0;
	float:left;
	width:50%;
}
.bill .methods P {
	text-align:right;
}
#bill_print.print {
	border:0;
	background:none;
}
/* icone */
.warehouse, .stockincome, .stockavailable, .stockrequested {
	display:block;
	width:16px;
	height:16px;
	background:url(../images/admin-ico.png) -242px -61px no-repeat;
	margin:0 auto;
}
.warehouse { width:24px; }
.stockincome { background:url(../images/admin-ico.png) -264px -61px no-repeat; }
.stockavailable { background:url(../images/admin-ico.png) -280px -61px no-repeat; }
.stockrequested { background:url(../images/admin-ico.png) -296px -61px no-repeat; }
/* tabella magazzino e stock prodotto */
TABLE.location_stock {
	border:0;	
}
TABLE.location_stock TR {
	border-bottom:0;
}
/* tabella stock prodotto */
TABLE.actual_stock {
	width:50px;
	background-image:none;
	background:none;
	border:0;
}
TABLE.actual_stock THEAD {
	display:none;
}
TABLE.actual_stock TR{
	background:none;
	border-bottom:0;
}
TABLE.actual_stock TR TD {
	padding:1px 0;
	height:16px;
	vertical-align:top;
	text-align:right;
	width:16px;
	border-right:0;
	border-left:0;
}
/* legenda */
.legend {
	float:left;
	padding:12px 8px;
	width:500px;
	font-size:10px;
	color:#666;
	text-shadow:1px 1px 1px #fefefe;
}
.legend SPAN{
	vertical-align:middle;
}
/* tabella totali */
.total {
	background: -moz-linear-gradient( top, rgba(93,93,93,1), rgba(51,51,51,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(93,93,93,1) ), color-stop( 1, rgba(51,51,51,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF5D5D5D,EndColorStr=#FF333333)";
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow:hidden;
}
.total .heading {
	width:160px;
	float:left;
	background-image:none;
	background:none;
	border:0;
}
.total .heading H2 {
	padding:5px 0 0 8px;
	color:#efefef;
}
.total .grid {
	float:left;
	width:810px;
	padding:8px 0;
}
.total .grid TABLE.compactable {
	border:0;
	background:none;
}
.total .grid TABLE.compactable TR,
.total .grid TABLE.compactable TR.negative {
	background:none;
	background-image:none;
	border-bottom:0;
}
.total .grid TABLE.compactable TR TH {
	font-size:13px;
	font-weight:normal;
	padding:3px 0;
	text-shadow:none;
	color:#a5dce8;
}
.total .grid TABLE.compactable TR TD {
	color:#eee;
	text-shadow:1px 1px 2px #000;
	border-left:0;
	border-right:0;
}
.toggle {
	width:110px;
	height:27px;
	margin:0 0 5px;
	float:left;
	padding:0 20px;
	font-size:14px;
	color:#ff9c00;
	letter-spacing:2px;
	background:url(../images/manage/bg-toggle.jpg) no-repeat;
}

/* classi generiche */
.right { text-align:right; }
.left { text-align:left; }
.center { text-align:center; }
.red { background:#fbdbdb; }
.green { background:#dbfbdd; }
.error { 
	color:#f00;
	font-weight:bold;
}

/* documenti */

ul.Documenti h3 {
	color:#919191;

}

/* operazioni */

#Order.listview .grid #Order_GridData.ffGrid .row {
	border:1px solid #ddd;
	background:#eee;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:10px 0;
	margin:10px 0;
	
}

.order-subject {
	float:left;
	width:170px;
	padding:5px;

}

.order-subject span.order_id {
	display:block;
	float:left;
	text-align:right;
	width:20px;
	height:20px;
	font-size:14px;
	font-weight:bold;
	padding:10px 10px 0 0;
}

.order-subject span.order_date {
	display:block;
	width:60px;
	float:left;
}

.order-subject span.order_type {
	display:block;
	float:left;
	width:140px;
	margin:2px 0 0 0;
}


.order-header {
	float:left;
	width:80px;
	padding:5px;
	font-weight:bold;

}

.order-price {
	float:left;
	text-align:right;
	width:170px;
	padding:5px;

}

DIV.row LABEL {
	display:block;
	min-width:100px;
	padding:0;
}

.order-price span.right {
	display:block;
	width:60px;
	padding:0 0 0 0;
	float:left;
}

#Order_GridData.ffGrid .shipping {
	float:left;
	width:120px;
	padding:5px;

}

#Order_GridData.ffGrid .shipping .shipping-info,
#Order_GridData.ffGrid .shipping .shipping-price {
	text-align:center;
	line-height:10px;
	margin:0 0 4px 0;
}

#Order_GridData.ffGrid .shipping a.ico-manage-shipping {
	margin:0 40px 0 10px;
}

.order-payment {
	float:left;
	width:320px;
	padding:5px;
	background:#fff;
	height:60px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin:0 10px 0 0;
}

.order-payment span {
	margin:0 5px 0 0;
}

#Order.listview .buttons {
	float:left;
	width:50px;
}

#Order.listview .buttons .GridActions {
	display:block;
	float:left;
	width:50px;
	height:24px;
}

#Order.listview .buttons A{
	display:block;
	width:24px;
	height:24px;
	float:left;
}

#Order.listview .GridButtons {
	float:left;
}