
a.discl_close{
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin:3px 9px 9px 0;
	background:url(../images/minus.png) no-repeat;
}
a.discl_open{
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin:3px 9px 9px 0;
	background:url(../images/plus.png) no-repeat;
}


/* notifier */
#notifier {
	display:none;
	overflow:hidden;
	position:fixed;
	left:55px;
	bottom:10px;
	background:#EEE;
	min-height:165px;
	max-height:300px;
	width:250px;
	padding:0 0 11px;
}
#notifier H2 A{
	color:#666;
	font-size:14px;
	padding:0 5px;
}
.quick-notify {
	max-height:260px;
	overflow:auto;
}
.quick-notify P, .quick-notify A {
	color:#f00;
	font-size:10px;
	line-height:13px;
	padding-left:5px;
}
.quick-notify A {
	color:#666;
	text-decoration:underline;
}
.quick-notify H3 {
	height:14px;
	display:block;
}
.quick-notify H3, .quick-notify H3 A, .quick-notify H3 span {
	font-size:11px;
	line-height:13px;
	text-decoration:none;
}
.quick-notify H3 IMG {
	vertical-align:middle;
}

/* uploadfy */
.uploadfy-field {
	padding:3px;
}
.uploadfy-object HR {
	display:inline;
}
.uploadfy-object LABEL, .uploadfy-field LABEL {
	float:left;
	font-size:12px;
	padding:5px 10px 0 0;
}
.uploadfy-object, .uploadifyQueue {
	clear:both; 
}
.action-buttons {
	clear:both;
}
.mod-notifier-messages .error{
	padding:9px;
	border:1px solid red;
	font-weight:bold;
	margin:6px 0;
	background:#ffe5e5;
	color:red;
}
.mod-notifier-messages .warning{
	padding:9px;
	border:1px solid #995c00;
	font-weight:bold;
	margin:6px 0;
	background:#fcefaf;
	color:#995c00;
}
.mod-notifier-messages .info{
	padding:9px;
	border:1px solid #0c4b96;
	font-weight:bold;
	margin:6px 0;
	background:#bce1f7;
	color:#0c4b96;
}
/* forms input */
/* Buttons */
.button, .detailSubmit, .addNew, .noactivebuttons, a.cancel {
	background: -moz-linear-gradient( top, rgba(93,93,93,1), rgba(51,51,51,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(93,93,93,1) ), color-stop( 1, rgba(51,51,51,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF5D5D5D,EndColorStr=#FF333333)";
	border:0;
	border-radius:4px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	color:#bababa;
	padding:4px 6px 6px;
	font-size:12px;
	text-shadow: 1px 1px 1px #222;
	margin:2px;
}
.button:hover, .detailSubmit:hover, .addNew:hover, .noactivebuttons:hover {
	background: -moz-linear-gradient( top, rgba(109,109,109,1), rgba(75,75,75,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(109,109,109,1) ), color-stop( 1, rgba(75,75,75,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF6D6D6D,EndColorStr=#FF4B4B4B)";
	text-shadow: 1px 1px 1px #222;
	color:#fff;
}
.addNew, .addNew:active, .addNew:link, .addNew:visited {
	display:block;
	float:right;
	margin:23px 0;
	width:auto;
	height:20px;
}
a.cancel, a.cancel:active, a.cancel:link, a.cancel:visited {
	display:inline-block;
	padding:7px 18px;
	width:47px;
	height:15px;
}
a.cancel:hover {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.43, #33C8E6), color-stop(0.72, #85EBFF));
	background-image: -moz-linear-gradient( center bottom, #33C8E6 23%, #85EBFF 72%);
	color:#fff;
	text-shadow: 1px 1px 2px #666;
}
.actions {
	margin:5px 0;
}
.actions .cancel {
	margin:0;
}
.actions INPUT {
	margin:0 5px;
}
/* Input */

.input, .textarea, .combo, .currentpage, .detailQTA,
.ffWidget_filemanager_text,
.activecomboex SELECT,
.detailActions INPUT,
SELECT,
FIELDSET.default TEXTAREA{
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;	
	border:1px solid #aaa;
	padding:3px;
	color:#666;
}
.input:focus, .textarea:focus, .combo:focus, .detailQTA:focus, .currentpage:focus {
	border:1px solid #5bcdf7;
}
.textarea {
	width:98%;
	height:450px;
}

.ffWidget_editarea {
	width:700px;
	height:450px;
}
TD .text {
	width:98%;
}
span.activecomboex {
	display:inline-block;
	min-width:350px;
} 
span.activecomboex a.add {
	display:block;
	float:right;
	padding:3px;
}
span.activecomboex SELECT,
TD .combo {
	width:100%;
}
span.jquery-checkbox {
	display:block;
	float:right;
}
.ffWidget_checkgroup {
	border-bottom:1px solid #eee;
	margin:3px 0;
	overflow:hidden;
}

/* Fieldset */
FIELDSET.default {
	padding:3px;
	color:#666;
}
DIV.row {
	clear:both;
	overflow:hidden;
	margin:2px 0;
	padding:2px;
	border-bottom:1px dotted #eee;
}
DIV.row:hover {
	background: -moz-linear-gradient( top, rgba(180,241,254,1), rgba(123,226,251,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(180,241,254,1) ), color-stop( 1, rgba(123,226,251,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFB4F1FE,EndColorStr=#FF7BE2FB)";
	border-bottom:1px solid #42dafc;	
} 
DIV.row LABEL {
	float:left;
	display:block;
	min-width:200px;
	text-align:right;
	margin:0 5px;
	
}
DIV.row .label,
DIV.row LABEL {
	padding:8px 3px 5px;
}
DIV.row LABEL .required {
	color:#5bcdf7;
}
FIELDSET.default DIV.row DIV.preview SPAN.fileName {
	margin:0 0 0 167px;
}

.cke_wrapper {
	display:block;
	clear:both;	
}
.ffWidget_ckeditor {
	width: 872px;
	height: 537px;
}
/* notifier */

.message {
	position:fixed;
	bottom:10px;
	right:5px;
	min-width:150px;
	height:20px;
	padding:5px;
	background:#222;
	opacity:.7;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color:#fff;
	font-size:12px;
}

/* Tabelle */
#content #window .ui-tabs-panel {
	padding:5px 0;
}
#content #window .ui-widget-content {
	
}
TABLE {
	clear:both;
	width:100%;
	border:1px solid #eee;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.32, #FAFAFA), color-stop(0.66, #FFFFFF));
	background-image: -moz-linear-gradient( center bottom, #FAFAFA 32%, #FFFFFF 66% );
}
.pagenav-bottom {
	background: -moz-linear-gradient( top, rgba(93,93,93,1), rgba(51,51,51,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(93,93,93,1) ), color-stop( 1, rgba(51,51,51,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF5D5D5D,EndColorStr=#FF333333)";
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	overflow:hidden;
	border-top:1px solid #fff;
}
.pagenav-top {
	overflow:hidden;
	background: -moz-linear-gradient( top, rgba(93,93,93,1), rgba(51,51,51,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(93,93,93,1) ), color-stop( 1, rgba(51,51,51,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF5D5D5D,EndColorStr=#FF333333)";	
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.ffGrid THEAD TR, TABLE THEAD TR {
	background: -moz-linear-gradient( top, rgba(238,238,238,1), rgba(205,205,205,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(238,238,238,1) ), color-stop( 1, rgba(205,205,205,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFEEEEEE,EndColorStr=#FFCDCDCD)";
	border-bottom:1px solid #ffffff;
}
THEAD TR TH.GridButtons, THEAD TR TH.GridActions {
	width:24px;
}
TD.GridButtons IMG, TD.GridActions IMG {
	width:24px;
}
THEAD TR TH {
	padding:5px 0 0 0;
	text-align:center;
	color:#777;
	font-weight:400;
	height:20px;
	white-space:nowrap;
	overflow:hidden;
	text-shadow:1px 1px 1px #fff;
}
THEAD TR TH A:link, THEAD TR TH A:visited, THEAD TR TH A:active {
	color:#777;
}
THEAD TR TH A:hover{
	color:#777;
}
TH A.FormsGridSortIcons {
	float:left;
	display:block;
	width:50%;
	height:8px;
	text-align:center;
}
TH A.FormsGridSortIcons:hover {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.43, #33C8E6), color-stop(0.72, #85EBFF));
	background-image: -moz-linear-gradient( center bottom, #33C8E6 23%, #85EBFF 72%);
}
TH A.FormsGridSortIcons IMG {
	height:8px;
}
TH A.FormsGridLabel, TH A.FormsGridLabel:active, TH A.FormsGridLabel:link, TH A.FormsGridLabel:visited {
	color:#333;
	letter-spacing:3px;
	clear:both;
	display:block;
	padding:0 4px;
}
TH A.FormsGridLabel:hover {
	color:#666;
}
TABLE TR {
	border-bottom:1px solid #bababa;
}
TABLE TR.negative {
	background:#E3E3E3;
}

TABLE TD {
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
	height:24px;
	padding:0 6px;
	overflow:hidden;
	text-shadow:1px 1px 1px #fefefe;
}
TH.FormsGridButtonCol {
	width:24px;
}
span.data{
	font-size: 12px;
	line-height:14px;
}
.ffGrid A.add{
	float:none;
	padding:0;
	margin:0;
}

TBODY TR:hover{
	background: -moz-linear-gradient( top, rgba(180,241,254,1), rgba(123,226,251,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(180,241,254,1) ), color-stop( 1, rgba(123,226,251,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFB4F1FE,EndColorStr=#FF7BE2FB)";
	border-bottom:1px solid #42dafc;
}
THEAD TR:hover TH:hover {
	background:none;
}
/* paginazione top tabelle */
.perPage, .pages { float:left; }
.totelem, .choice { float:right; }
.totelem, .choice, .perPage, .pages { padding:4px 0; }
.choice, .perPage {
	color:#eee;
	margin:0 5px;
}
.perPage, .totelem, .choice LABEL { 
	font-size:10px;
	color:#aaa;
}
.choice {
	border-left:1px solid #777;
	padding:4px 4px;
}
.choice LABEL { 
	display:block;
	float:right;
	padding:2px 0 2px 4px;
}
.choice .currentpage {
	padding:0;
	background:#eee;
	text-align:right;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #444;
}
.choice .currentpage:focus {
	background:#dbf5fd;
}
.perPage LABEL {
	float:left;
	display:none;
}
.perPage .selectors {
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin:0 2px;
}
.perPage .selector_10 {	background:url(../images/admin-ico.png) -96px -248px no-repeat; }
.perPage .selector_10:hover { background:url(../images/admin-ico.png) -96px -264px no-repeat; }
.perPage .selector_25 { background:url(../images/admin-ico.png) -120px -248px no-repeat; }
.perPage .selector_25:hover { background:url(../images/admin-ico.png) -120px -264px no-repeat; }
.perPage .selector_50 { background:url(../images/admin-ico.png) -144px -248px no-repeat; }
.perPage .selector_50:hover { background:url(../images/admin-ico.png) -144px -264px no-repeat; }
.perPage .selector_all { background:url(../images/admin-ico.png) -168px -248px no-repeat; }
.perPage .selector_all:hover { background:url(../images/admin-ico.png) -168px -264px no-repeat; }
.totelem {
	padding:6px 5px;
	margin:0 3px;
}
.totelem SPAN{
	color:#fff;
	font-size:12px;
}
.pages {
	margin:0 0 0 250px;
}
.pages A {
	display:block;
	float:left;
	width:16px;
	height:16px;
	text-decoration:none;
	color:#eee; 
}
.pages A:hover  { color:#fff; }
.pages .first { background:url(../images/admin-ico.png) no-repeat -120px -44px;  }
.pages .first:hover { background:url(../images/admin-ico.png) no-repeat -120px -28px; }
.pages .prev-frame { background:url(../images/admin-ico.png) no-repeat -96px -44px; }
.pages .prev-frame:hover { background:url(../images/admin-ico.png) no-repeat -96px -28px; }
.pages .prev { background:url(../images/admin-ico.png) no-repeat -72px -44px; }
.pages .prev:hover { background:url(../images/admin-ico.png) no-repeat -72px -28px; }
.pages .next { background:url(../images/admin-ico.png) no-repeat -196px -44px; }
.pages .next:hover { background:url(../images/admin-ico.png) no-repeat -196px -28px; }
.pages .next-frame { background:url(../images/admin-ico.png) no-repeat -172px -44px; }
.pages .next-frame:hover { background:url(../images/admin-ico.png) no-repeat -172px -28px; }
.pages .last { background:url(../images/admin-ico.png) no-repeat -144px -44px; }
.pages .last:hover { background:url(../images/admin-ico.png) no-repeat -144px -28px; }

/* notifiche */
/*
.ui-pnotify.custom .ui-pnotify-container {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.31, #E0E0E0), color-stop(0.83, #FAFAFA));
	background-image: -moz-linear-gradient( center bottom, #E0E0E0 31%, #FAFAFA 83% );
	border: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 15px #888;
	-webkit-box-shadow: 1px 1px 15px #888;
	box-shadow:1px 1px 15px #888;
}
.ui-pnotify.custom .ui-pnotify-title A{
	font-size:12px;
	font-weight:normal;
	color:#666;
	letter-spacing:3px;
}
.ui-pnotify.custom .ui-pnotify-text {
	font-size:11px;
	color:#888;
	overflow:hidden;
}
.ui-pnotify.custom .ui-icon
.ui-pnotify-closer .ui-icon-circle-close {
	width:16px; 
	height:16px;
}
.ui-pnotify.custom .ui-icon.ui-icon-info {
	background:url(../images/admin-ico.png) -16px -232px no-repeat;
}
.ui-pnotify.custom .ui-icon.ui-icon-alert {
	background:url(../images/admin-ico.png) 0 -232px no-repeat;
}
.ui-pnotify.custom .ui-icon.ui-icon-circle-close {
	background:url(../images/admin-ico.png) -32px -232px no-repeat;	
}*/
/* icone */
.GridButtons , .GridActions {
	padding:0;
	margin:0;
}
.GridButtons A, .GridActions A {
	display:block;
	width:24px;
	height:24px;
	padding:0;
}
A.ico-delete { background:url(../images/admin-ico.png) -168px -136px no-repeat; }
A.ico-delete:hover { background:url(../images/admin-ico.png) -168px -160px no-repeat; }

A.ico-preview { background:url(../images/admin-ico.png) -72px -135px no-repeat; }
A.ico-preview:hover { background:url(../images/admin-ico.png) -72px -159px no-repeat; }

A.ico-detail { background:url(../images/admin-ico.png) -120px -88px no-repeat; }
A.ico-detail:hover { background:url(../images/admin-ico.png) -120px -112px no-repeat; }

A.ico-seo { background:url(../images/admin-ico.png) -48px -88px no-repeat; }
A.ico-seo:hover { background:url(../images/admin-ico.png) -48px -112px no-repeat; }

A.ico-permissions { background:url(../images/admin-ico.png) 0 -88px no-repeat; }
A.ico-permissions:hover { background:url(../images/admin-ico.png) 0 -112px no-repeat; }

A.ico-settings { background:url(../images/admin-ico.png) -96px -88px no-repeat; }
A.ico-settings:hover { background:url(../images/admin-ico.png) -96px -112px no-repeat; }

A.ico-add { 
	background:url(../images/admin-ico.png) -120px -184px no-repeat; }
A.ico-add:hover { background:url(../images/admin-ico.png) -120px -208px no-repeat; }

A.ico-visible { background:url(../images/admin-ico.png) -48px -184px no-repeat; }
A.ico-visible:hover { background:url(../images/admin-ico.png) -48px -208px no-repeat; }

A.ico-notvisible { background:url(../images/admin-ico.png) -72px -184px no-repeat; }
A.ico-notvisible:hover { background:url(../images/admin-ico.png) -72px -208px no-repeat; }

A.ico-shipping-zone { background:url(../images/admin-ico.png) -96px -184px no-repeat; }
A.ico-shipping-zone:hover { background:url(../images/admin-ico.png) -96px -208px no-repeat; }

A.ico-edit { background:url(../images/admin-ico.png) 0 -136px no-repeat; }
A.ico-edit:hover { background:url(../images/admin-ico.png) 0 -160px no-repeat; }

A.ico-preview-mail { background:url(../images/admin-ico.png) -144px -88px no-repeat; }
A.ico-preview-mail:hover { background:url(../images/admin-ico.png) -144px -112px no-repeat; }

A.ico-history { background:url(../images/admin-ico.png) -193px -207px no-repeat; }
A.ico-history:hover { background:url(../images/admin-ico.png) -193px -231px no-repeat; }

A.ico-no-history { background:url(../images/admin-ico.png) -217px -207px no-repeat; }

A.ico-shopping-cart-managestock { background:url(../images/admin-ico.png) -120px -88px no-repeat; }
A.ico-shopping-cart-managestock:hover { background:url(../images/admin-ico.png) -120px -112px no-repeat; }

A.ico-shopping-cart-no-managestock { background:url(../images/admin-ico.png) -216px -183px no-repeat; }

A.ico-shopping-cart-addstock { background:url(../images/admin-ico.png) -168px -88px no-repeat; }
A.ico-shopping-cart-addstock:hover { background:url(../images/admin-ico.png) -168px -112px no-repeat; }

A.ico-shopping-cart-basic { background:url(../images/admin-ico.png) -25px -135px no-repeat; }
A.ico-shopping-cart-basic:hover { background:url(../images/admin-ico.png) -25px -159px no-repeat; }

A.ico-shopping-cart-settings { background:url(../images/admin-ico.png) -51px -135px no-repeat; }
A.ico-shopping-cart-settings:hover { background:url(../images/admin-ico.png) -51px -159px no-repeat; }

A.ico-shopping-cart-payments { background:url(../images/admin-ico.png) -144px -135px no-repeat; }
A.ico-shopping-cart-payments:hover { background:url(../images/admin-ico.png) -144px -159px no-repeat; }

A.ico-shopping-cart-no-addstock { background:url(../images/admin-ico.png) -193px -183px no-repeat; }

A.ico-shopping-cart-all { background:url(../images/admin-ico.png) -193px -136px no-repeat; }
A.ico-shopping-cart-all:hover { background:url(../images/admin-ico.png) -193px -160px no-repeat; }

A.ico-relationships { background:url(../images/admin-ico.png) -193px -87px no-repeat; }
A.ico-relationships:hover { background:url(../images/admin-ico.png) -193px -111px no-repeat; }

A.ico-print { background:url(../images/admin-ico.png) -25px -89px no-repeat; }
A.ico-print:hover { background:url(../images/admin-ico.png) -25px -113px no-repeat; }

A.ico-payments { background:url(../images/admin-ico.png) -144px -135px no-repeat; }
A.ico-payments:hover { background:url(../images/admin-ico.png) -144px -159px no-repeat; }

A.ico-retry { background:url(../images/admin-ico.png) -241px -183px no-repeat; }
A.ico-retry:hover { background:url(../images/admin-ico.png) -265px -183px no-repeat; }

A.ico-clone { background:url(../images/admin-ico.png) -289px -87px no-repeat; }
A.ico-clone:hover { background:url(../images/admin-ico.png) -313px -87px no-repeat; }

A.ico-manage-shipping {
	float:left; 
	display:block;
	width:24px;
	height:24px;
	background:url(../images/admin-ico.png) -241px -111px no-repeat; 
	}
A.ico-manage-shipping:hover { background:url(../images/admin-ico.png) -217px -111px no-repeat; }


A.ico-nomanage-shipping { 
	float:left; 
	display:block;
	width:24px;
	height:24px;
	background:url(../images/admin-ico.png) -265px -111px no-repeat; 
}


A.ico-noevade-shipping {
	float:left;
	background:url(../images/admin-ico.png) -257px -159px no-repeat;
	display:block;
	width:37px;
	height:24px;
}
A.ico-noevade-shipping:hover { background:url(../images/admin-ico.png) -217px -159px no-repeat;}


A.ico-evade-shipping {
	float:left;
	background:url(../images/admin-ico.png) -257px -135px no-repeat;
	display:block;
	width:37px;
	height:24px;
}
A.ico-evade-shipping:hover { background:url(../images/admin-ico.png) -217px -135px no-repeat;}



/* Admin + Restricted + Manage */
/* it's time to rock */
HTML, BODY {
	background:#fff;
	font-size:12px;
	font-family:arial, verdana, sans-serif;
	color:#333;
}
A, A:link, A:visited, A:active {
	color:#33C8E6;
	text-decoration:none;
}
A:hover {
	color:#222;
}
/* struttura */
#container {
	position:relative;
	width:980px;
	margin:0 auto;
}
.headbar {
	height:32px;
	padding:0 10px 0 15px;
	background: -moz-linear-gradient( top, rgba(93,93,93,1), rgba(51,51,51,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(93,93,93,1) ), color-stop( 1, rgba(51,51,51,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF5D5D5D,EndColorStr=#FF333333)";	
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

/* testa */
#header {
	clear:both;
	margin:0;
}
#header H1 {
	font-size:16px;
	color:#666;
	letter-spacing:3px;
	padding:5px 0;
}
/* testa generata */
.quicklinks {
	display:block;
	overflow:hidden;
	width:130px;
	height:32px;
	float:left;
	border-right:1px solid #666;
}
.quicklinks LI {
	float:left;
}
.quicklinks LI A {
	display:block;
	width:32px;
	height:32px;
}
.quicklinks LI A.quick-admin { background:url(../images/admin/admin-sprite.png) -130px -64px no-repeat; }
.quicklinks LI A.quick-admin:hover { background:url(../images/admin/admin-sprite.png) -162px -64px no-repeat; }
.quicklinks LI A.quick-restricted { background:url(../images/admin/admin-sprite.png) -64px -64px no-repeat; }
.quicklinks LI A.quick-restricted:hover { background:url(../images/admin/admin-sprite.png) -96px -64px no-repeat; }
.quicklinks LI A.quick-manage { background:url(../images/admin/admin-sprite.png) 0 -64px no-repeat; }
.quicklinks LI A.quick-manage:hover { background:url(../images/admin/admin-sprite.png) -32px -64px no-repeat; }
.quicklinks LI A.quick-back { background:url(../images/admin/admin-sprite.png) -252px -64px no-repeat; }
.quicklinks LI A.quick-back:hover { background:url(../images/admin/admin-sprite.png) -284px -64px no-repeat; }
.quicklinks LI A.quick-logout { background:url(../images/admin/admin-sprite.png) -191px -64px no-repeat; }
.quicklinks LI A.quick-logout:hover { background:url(../images/admin/admin-sprite.png) -223px -64px no-repeat; }
.mainmenu {
	float:left;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.mainmenu LI {
	display: block;
	float:left;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
}
.mainmenu LI A {
	display:block;
	height:12px;
	padding:8px 8px 12px;
	color:#eee;
	border-right:1px solid #666;
	text-shadow:1px 1px 1px #000;
	text-align:right;
}
.mainmenu LI:hover {
	background: -moz-linear-gradient( top, rgba(109,109,109,1), rgba(75,75,75,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(109,109,109,1) ), color-stop( 1, rgba(75,75,75,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF6D6D6D,EndColorStr=#FF4B4B4B)";
}

.mainmenu LI A.current,
.mainmenu LI A.current:hover {
	background: -moz-linear-gradient( top, rgba(180,241,254,1), rgba(123,226,251,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(180,241,254,1) ), color-stop( 1, rgba(123,226,251,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFB4F1FE,EndColorStr=#FF7BE2FB)";
	border-right:1px solid #B4F1FE;
	text-shadow:1px 1px 1px #fff;
	color:#00728c;
}
.mainmenu.kwicks LI {
	padding:0 0 0 2px;
}
.mainmenu.kwicks LI A {
	background: -moz-linear-gradient( top, rgba(109,109,109,1), rgba(75,75,75,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(109,109,109,1) ), color-stop( 1, rgba(75,75,75,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FF6D6D6D,EndColorStr=#FF4B4B4B)";
	box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #000;
	-webkit-box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #000;
	-moz-box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #000;
	text-align:left;
}
.mainmenu.kwicks LI A.current {
	background: -moz-linear-gradient( top, rgba(180,241,254,1), rgba(123,226,251,1) );
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0, rgba(180,241,254,1) ), color-stop( 1, rgba(123,226,251,1) ) );
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFB4F1FE,EndColorStr=#FF7BE2FB)";
	box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #7BE2FB;
	-webkit-box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #7BE2FB;
	-moz-box-shadow: inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 0 0 0 #222, inset 1px 0 5px #7BE2FB;
}
.toggler {
	display:block;
	width:38px;
	height:32px;
	position:absolute;
	top:0;
	right:10px;
	background:url(../images/admin/admin-sprite.png) 8px -90px no-repeat;
}

/* menu */
#menu-list {
	position:relative;
	padding:5px 10px;
	width:935px;
	background:#efefef;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	border-right:3px solid #fff;
	border-left:3px solid #fff;
	border-bottom:3px solid #fff;
	overflow:hidden;
	margin:0 10px 10px;
}
#menu-list H2 {
	font-size:14px;
	color:#aaa;
	letter-spacing:3px;
	padding:0 0 5px;
	margin:0 0 5px;
	border-bottom:1px solid #ccc;
}
#menu-list UL LI {
	float:left;
	margin:0 5px;
	width:220px;
}
#menu-list UL LI A {
	color:#888;
	display:block;
	padding:8px 4px 10px 36px;
	border:1px solid #efefef;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#menu-list UL LI A:hover {
	color:#222;
}

.resizer {
	position:absolute;
	bottom:4px;
	right:6px;
	display:block;
	width:16px;
	height:16px;
	background:url(../images/admin-ico.png) -48px -45px no-repeat; 
}
.viewsubmenu {
	display:block;
	position:absolute;
	top:0;
	right:20px;
	width:32px;
	height:32px;
	background:url(../images/admin/admin-sprite.png) -124px -90px no-repeat; 
}
.resizer:hover {
	background:url(../images/admin-ico.png) -48px -60px no-repeat; 
}
.helperlink {
	display:block;
	position:absolute;
	top:0;
	right:80px;
	margin:5px 0 0;
	width:16px;
	height:16px;
	background:url(../images/admin-ico.png) -16px -264px no-repeat;
}
.helperlink:hover {
	background:url(../images/admin-ico.png) 0 -264px no-repeat;
}
.notify-handler {
	display:block;
	position:absolute;
	top:0;
	right:110px;
	margin:6px 0 0;
	width:14px; 
	height:15px;
	background:url(../images/admin-ico.png) 0 -247px no-repeat;
}
.notify-handler:hover {
	background:url(../images/admin-ico.png) -15px -247px no-repeat;
}
.notify-hidden {
	background:url(../images/admin-ico.png) -30px -247px no-repeat;
}
.notify-hidden:hover {
	background:url(../images/admin-ico.png) -45px -247px no-repeat; 
} 
.langchooser {
	display:block;
	position:absolute;
	top:0;
	right:60px;
	margin:5px 0 0;
	width:16px;
	height:16px;
	background:url(../images/admin-ico.png) -48px -264px no-repeat;		
}
.langchooser:hover { background:url(../images/admin-ico.png) -32px -264px no-repeat; }
#language-chooser {
	display:none;
	position:absolute;
	top:32px;
	right:10px;
	z-index:200;
	background:#444;
	padding:4px 2px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
#language-chooser UL LI {
	padding:4px;
	color:#fff;
}
#language-chooser UL LI IMG {
	margin:0 5px 0 0;
}
.eclipse {
	position:absolute;
	z-index:800;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.2;
}
.helpbox {
	position:absolute;
	z-index:1000;
	top:20%;
	left:35%;
	right:35%;
	width:auto;
	height:auto;
	background:#fff;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.31, #E0E0E0), color-stop(0.83, #FAFAFA));
	background-image: -moz-linear-gradient( center bottom, #E0E0E0 31%, #FAFAFA 83% );
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 15px #888;
	-webkit-box-shadow: 1px 1px 15px #888;
	box-shadow:1px 1px 15px #888;
	padding:5px 10px 10px;
}
.helptext {
	font-size:12px;
	line-height:18px;
	color:#444;
	text-shadow:-1px -1px 1px #fff;
}
.helptext H2 {
	font-size:14px;
	letter-spacing:3px;
	padding:4px 0;
	color:#999;
}
.closebox {
	float:right;
	display:block;
	width:16px;
	height:16px;
	background:url(../images/admin-ico.png) -32px -45px no-repeat; 
	margin:4px;
} 
.closebox:hover {
	background:url(../images/admin-ico.png) -32px -61px no-repeat; 
}
/* Contenuti */
.heading A, 
TABLE TR TD A, TABLE TR TD A:link, TABLE TR TD A:active, TABLE TR TD A:active, TABLE TR TD A:visited {
	color:#666;
}
.heading {
	background:#eee;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border:1px solid #ddd;
	overflow:hidden;
	margin:5px 0;
}
.heading H2 {
	float:left;
	width:300px;
	padding:10px 0 0 10px;
	font-size:14px;
	letter-spacing:3px;
	color:#888;
}
.heading .search {
	float:right;
	width:300px;
	margin:0 10px 0 0;
	padding:0 10px;
	background:#ddd;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.heading .search .input {
	padding:6px 8px 5px;
	border:1px solid #ccc;
	margin:4px 0 6px 10px;
	width:190px;
}
.heading .search .input:focus {
	border:1px solid #5bcdf7;
}
.heading .search .button {
	font-size:12px;
	padding:0 8px 4px;
	float:right;
}
.heading .search .button{
	margin:4px 10px 4px 0;
	border:1px solid #ccc;
}
.addNew {
	padding:6px 8px 3px;
}
.heading A.addNew {
	float:right;
	margin:3px 3px 0;
	padding:0;
	width:32px;
	height:32px;
	background:url(../images/admin/admin-sprite.png) -320px -97px no-repeat;
	font-size:0;
	text-indent:-10000px;
	line-height:0;
}
.heading A.addNew:hover { background:url(../images/admin/admin-sprite.png) -352px -97px no-repeat; }
/* settings */
#settings .general, #settings .ecommerce, #settings .jqueryui_theme {
	overflow:hidden;
	width:310px;
	float:left;
	padding:5px;
	margin:0 2px;
	min-height:250px;
	background:#eee;
	border:1px solid #ddd;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#settings .actions {
	clear:both;
	margin:5px 0;
	text-align:right;
}
#settings LEGEND {
	letter-spacing:2px;
	color:#888;
	font-size:14px;
}
#settings FIELDSET .row {
	clear:both;
	padding:2px 0;
}
#settings FIELDSET .row LABEL {
	display:block;
	float:left;
	padding:3px 0;
}
#settings FIELDSET .row .input {
	float:right;
	width:50px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#settings .jqueryui_theme .row .input {
	width:150px;
}

/* temi */
#content H2.title {
	font-size:14px;
	letter-spacing:3px;
	color:#666;
	padding:10px;

}
.theme-menu, .import_menu, .sitemap_menu {
	display:block;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, rgb(51,51,51)), color-stop(0.76, rgb(94,94,94)));
	background-image: -moz-linear-gradient( center bottom, rgb(51,51,51) 35%, rgb(94,94,94) 76%);
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	overflow:hidden;
	padding:0 10px;
}
.theme-menu LI, .import_menu LI, .sitemap_menu LI {
	float:left;
	border-right:1px solid #666;
}
.theme-menu LI A, .import_menu LI A, .sitemap_menu LI A{
	display:block;
	color:#fff;
	padding:10px;
	text-shadow:1px 1px 2px #333;
}
.theme-menu LI A:hover, .import_menu LI A:hover, .sitemap_menu LI A:hover {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.35, rgb(97,97,97)), color-stop(0.76, rgb(133,133,133)));
	background-image: -moz-linear-gradient( center bottom, rgb(97,97,97) 35%, rgb(133,133,133) 76%);
}
.import_menu LI A{ padding:15px 4px 15px; }

/* sitemap */
.sitemap_generator {
	
}
/* tabs */
#content .ui-widget-content {
	padding:10px 0;
}
/* FOOTER */
.footersite {
	width:980px;
	margin:10px auto 0;
	clear:both;
	font-size:14px;
	color:#aaa;
	letter-spacing:5px;
	text-align:center;
}
/* slider */
.slider-box {
	overflow:hidden;
	float:left;
	width:350px;
	padding:15px 0 4px;	
}
.ui-slider {
	float:left;
	width:290px;
	border:1px solid #ddd;
}
.ui-slider-horizontal,
#ExtrasimageModify_alpha_slider { 
	height:3px;
	min-height:3px;
	padding:0;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -6px; 
	margin-left: -3px; 
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.slider-amount {
	float:right;
	width:30px;
	border:0;
	font-weight:bold;
	color:#5bcdf7;
	margin:-8px 0 0;
}
/* menu filtri */
.listview {
	clear:both;
}
.filterbuttons {
	overflow:hidden;
	float:right;
}
#tabs_rel {
	clear:both;
}
.filterbuttons A {
	float:right;
	display:block;
	width:78px;
	height:19px;
	margin:3px 5px;
}
.filterbuttons .print {
	width:85px;
}
.filterbuttons .filter {
	background:url(../images/manage-filter-menu.jpg) 0 0 no-repeat;
}
.filterbuttons .filter:hover {
	background:url(../images/manage-filter-menu.jpg) 0 -19px no-repeat;	
}
.filterbuttons .print {
	background:url(../images/manage-filter-menu.jpg) -78px 0 no-repeat;
}
.filterbuttons .print:hover {
	background:url(../images/manage-filter-menu.jpg) -78px -19px no-repeat;
}
.filter.helpbox {
	width:450px;
	left:25%;
	right:25%;
}
.filter.helpbox .actions {
	text-align:right;
}
.filter.helpbox DIV {
	padding:3px 0;
	overflow:hidden;
	clear:both;
}
.filter.helpbox DIV .hasDatepicker {
	width:80px;
	border:1px solid #AAA;
	padding:3px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin:0 5px 0 0;
}
.filter.helpbox DIV IMG {
	vertical-align:middle;
}
.filter.helpbox FIELDSET {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#fff;
	margin:6px 0;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow:1px 1px 5px #888;
}
.filter.helpbox FIELDSET LEGEND {
	background:#fff;
	letter-spacing:3px;
	display:block;
	width:100%;
	color:#666;
	font-size:14px;
	padding:0 2px;
	line-height:22px;
}
.filter.helpbox FIELDSET DIV{
	padding:2px 4px;
}
.filter.helpbox FIELDSET DIV.ffWidget_checkgroup LABEL{
	letter-spacing:1px;
	color:#666;
}
/* mainmenu icons */
.mainmenu .graph,
.mainmenu .graph A:hover { background:url(../images/admin-bg-menu.png) 0 0 no-repeat;}
.mainmenu .config,
.mainmenu .config A:hover { background:url(../images/admin-bg-menu.png) 0 -64px no-repeat;}
.mainmenu .auth,
.mainmenu .auth A:hover { background:url(../images/admin-bg-menu.png) 0 -128px no-repeat;}
.mainmenu .layout,
.mainmenu .layout A:hover { background:url(../images/admin-bg-menu.png) 0 -192px no-repeat;}
.mainmenu .content,
.mainmenu .content A:hover { background:url(../images/admin-bg-menu.png) 0 -256px no-repeat;}
.mainmenu .utility,
.mainmenu .utility A:hover { background:url(../images/admin-bg-menu.png) 0 -320px no-repeat;}
.mainmenu .ecommerce,
.mainmenu .ecommerce A:hover { background:url(../images/admin-bg-menu.png) 0 -384px no-repeat;}

/* submenu icons */
#menu-list UL LI.vgallerypermission A { background:url(../images/admin-submenu.png) 0 0 no-repeat; }
#menu-list UL LI.users A { background:url(../images/admin-submenu.png) 0 -32px no-repeat; }
#menu-list UL LI.groups A { background:url(../images/admin-submenu.png) 0 -64px no-repeat; }
#menu-list UL LI.email A { background:url(../images/admin-submenu.png) 0 -96px no-repeat; }
#menu-list UL LI.international A { background:url(../images/admin-submenu.png) 0 -128px no-repeat; }
#menu-list UL LI.search A { background:url(../images/admin-submenu.png) 0 -160px no-repeat; }
#menu-list UL LI.modules A { background:url(../images/admin-submenu.png) 0 -192px no-repeat; }
#menu-list UL LI.calendar A { background:url(../images/admin-submenu.png) 0 -224px no-repeat; }
#menu-list UL LI.updater A { background:url(../images/admin-submenu.png) 0 -256px no-repeat; }
#menu-list UL LI.maps A { background:url(../images/admin-submenu.png) 0 -288px no-repeat; }
#menu-list UL LI.shippingprice A { background:url(../images/admin-submenu.png) 0 -320px no-repeat; }
#menu-list UL LI.draft A { background:url(../images/admin-submenu.png) 0 -352px no-repeat; }
#menu-list UL LI.videobar A { background:url(../images/admin-submenu.png) 0 -384px no-repeat; }
#menu-list UL LI.swf A { background:url(../images/admin-submenu.png) 0 -416px no-repeat; }
#menu-list UL LI.share A { background:url(../images/admin-submenu.png) 0 -448px no-repeat; }
#menu-list UL LI.newsletter A { background:url(../images/admin-submenu.png) 0 -480px no-repeat; }
#menu-list UL LI.resources A { background:url(../images/admin-submenu.png) 0 -512px no-repeat; }
#menu-list UL LI.tagcloud A { background:url(../images/admin-submenu.png) 0 -544px no-repeat; }
#menu-list UL LI.static A { background:url(../images/admin-submenu.png) 0 -576px no-repeat; }
#menu-list UL LI.notify A { background:url(../images/admin-submenu.png) 0 -608px no-repeat; }
#menu-list UL LI.sitemap A { background:url(../images/admin-submenu.png) 0 -640px no-repeat; }
#menu-list UL LI.vgallery A { background:url(../images/admin-submenu.png) 0 -672px no-repeat; }
#menu-list UL LI.publishing A { background:url(../images/admin-submenu.png) 0 -704px no-repeat; }
#menu-list UL LI.form A { background:url(../images/admin-submenu.png) 0 -736px no-repeat; }
#menu-list UL LI.checker A { background:url(../images/admin-submenu.png) 0 -768px no-repeat; }
#menu-list UL LI.register A { background:url(../images/admin-submenu.png) 0 -800px no-repeat; }
#menu-list UL LI.mpay A { background:url(../images/admin-submenu.png) 0 -832px no-repeat; }
#menu-list UL LI.additionaldata A { background:url(../images/admin-submenu.png) 0 -864px no-repeat; }
#menu-list UL LI.doctype A { background:url(../images/admin-submenu.png) 0 -896px no-repeat; }
#menu-list UL LI.location A { background:url(../images/admin-submenu.png) 0 -928px no-repeat; }
#menu-list UL LI.anagraphtype A { background:url(../images/admin-submenu.png) 0 -960px no-repeat; }
#menu-list UL LI.explore A { background:url(../images/admin-submenu.png) 0 -992px no-repeat; }
#menu-list UL LI.explore A { background:url(../images/admin-submenu.png) 0 -992px no-repeat; }
#menu-list UL LI.themes A { background:url(../images/admin-submenu.png) 0 -1024px no-repeat; }
#menu-list UL LI.js A { background:url(../images/admin-submenu.png) 0 -1056px no-repeat; }
#menu-list UL LI.backup A { background:url(../images/admin-submenu.png) 0 -1088px no-repeat; }
#menu-list UL LI.settings A { background:url(../images/admin-submenu.png) 0 -1120px no-repeat; }
#menu-list UL LI.section A { background:url(../images/admin-submenu.png) 0 -1152px no-repeat; }
#menu-list UL LI.site-map A { background:url(../images/admin-submenu.png) 0 -1184px no-repeat; }
#menu-list UL LI.extras A { background:url(../images/admin-submenu.png) 0 -1216px no-repeat; }

#menu-list UL LI A.current {
	color:#555;
	background-color:#ddd;
	border:1px solid #ccc;
}

.block-loader {
	background:url(../images/please-wait.gif) center no-repeat #ffffff;
	display:block;
	margin:0;
	width:48px;
	height:48px;
	border:1px solid #bbbbbb;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	-moz-box-shadow:0 0 5px #999999;
    -webkit-box-shadow:0 0 5px #999999;
    box-shadow:0 0 5px #999999;
}

/* modifica struttura vgallery */

.fieldsetwrapper .row label {
	width:30%;
	margin:0 5% 0 10%;
	text-align:left;
	float:left;
}

.fieldsetwrapper .row SPAN {
	float:none;
}

.fieldsetwrapper .row div.ffWidget_checkgroup {
	width:40%;
	margin:0 30% 0 10%;
}

.fieldsetwrapper .row div.ffWidget_checkgroup span {
	float:right;
}



/* anagrafica */

#Anagraph .sort-block {
	display:none;
}

#Anagraph_GridData {
	clear:both;
	width:980px;
	overflow:hidden;
}

#Anagraph .row {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background:#eee;
	border:2px solid #ddd;
	width:470px;
	height:72px;
	clear:none;
	float:left;
	margin:0 10px 10px 0;
	overflow:hidden;
}

#Anagraph .row:hover {
	background:#ddd;
	border:2px solid #ccc;
}

#Anagraph .row .GridActions {
	width:50px;
	padding:24px 4px;
	background:#ddd;
	text-align:center;
	display:block;
	float:right;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin:0;
}

#Anagraph .row:hover .GridActions {
	background:#fff;
}

#Anagraph .row .GridActions A {
	display:block;
	float:left;
	width:24px;
	height:24px;
	text-align:center;
}

#Anagraph .row .GridActions A:hover {
	height:23px;
	padding:1px 0 0 0;
}

#Anagraph .row .anagraph-head {
	padding:5px 10px 5px 5px;
	background:#ddd;
	text-align:center;
	display:block;
	float:left;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	margin:0 10px 0 0;
}

#Anagraph .row:hover .anagraph-head {
	background:#ccc;
}

#Anagraph .anagraph-head .anagraph-id {
	display:block;
	margin:24px 4px 0 0;
	min-width:28px;
	float:left;
}

#Anagraph .row .avatar {
	display:block;
	float:right;
	background:#fdfdfd;
	padding:5px;
	border:1px solid #ccc;
	width:50px;
	height:50px;
}

.central-content {
	float:left;
	margin:5px;
	width:270px;
	overflow:hidden;
}

#Anagraph .row .text {
	margin:2px 0;
}

#Anagraph .row .text A {
	color:#3f3f3f;
	font-size:12px;
}

